<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_hospital_root"
              name="HMS"
              web_icon="Hospital,static/description/icon.png">
    </menuitem>

    <menuitem id="menu_frontdesk"
              name="Front Desk"
              parent="menu_hospital_root">
    </menuitem>

    <menuitem id="menu_Task"
              name="Task"
              parent="menu_hospital_root">
    </menuitem>

    <menuitem id="menu_my_task"
              name="My task"
              parent="menu_Task"
              action="project.action_view_my_task">
    </menuitem>

    <menuitem id="menu_billing"
              name="Billing"
              parent="menu_hospital_root">
    </menuitem>

    <menuitem id="menu_hms_invoicing"
              name="Invoice"
              parent="menu_billing"
              action="account.action_move_out_invoice_type">
    </menuitem>

    <menuitem id="menu_hms_payment"
              name="Payment"
              parent="menu_billing"
              action="account.action_account_payments">
    </menuitem>

    <menuitem id="menu_configuration"
              name="Configuration"
              groups="Hospital.group_hospital_doctors"
              parent="menu_hospital_root">
    </menuitem>

    <menuitem id="menu_patient"
              name="Patients"
              parent="menu_frontdesk"
              action="action_hospital_patient">

    </menuitem>

    <menuitem id="menu_patient_read_only"
              name="view Patient"
              parent="menu_frontdesk"
              action="action_hospital_readonly_patient">

    </menuitem>

    <menuitem id="menu_appointment"
              name="Appointment"
              parent="menu_frontdesk"
              action="action_hospital_appointment">

    </menuitem>

    <menuitem id="menu_appointment_line"
              name="Appointment Line"
              parent="menu_frontdesk"
              action="action_hospital_appointment_line">

    </menuitem>


        <menuitem id="menu_patient_tag"
                  name="Tags"
                  parent="menu_configuration"
                  action="action_patient_tag">
        </menuitem>
</odoo>